{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <form method="post" action="{% url 'login' %}" class="space-y-5 mx-auto flex flex-col mt-32">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Sign in">
        <input type="hidden" name="next" value="{{ next }}">
        <div class="flex flex-col">
            <a href="{% url 'signup' %}" class="underline">Create Account</a>
            <a href="{% url 'password_reset' %}" class="underline">Lost password?</a>
        </div>
    </form>

{% endblock %}

